<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
{#    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">#}
{#    <link href="{{ url_for('static', filename='css/cutter.css') }}" rel="stylesheet">#}
{#    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/cutter.js') }}"></script>#}
    <title>Dashboard - Raccoon</title>
</head>
<body>
    Ok
</body>

</html>